.tabs
    ul.tabs__controls
        +tabs__controls('#tab-1','tab 1')
        +tabs__controls('#tab-2','tab 2')
        +tabs__controls('#tab-3','tab 3')
    ul.tabs__list
        +tabs__list('tab-1','Some title 1', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci alias aspernatur assumenda consectetur cum debitis deleniti deserunt dicta dignissimos distinctio dolor doloribus eaque, eius esse exercitationem fugiat harum hic inventore ipsam libero magnam maiores minus natus neque nesciunt odio omnis quisquam quod quos saepe sequi tempore temporibus vel veniam voluptatem. Ducimus.')
        +tabs__list('tab-2','Some title 2', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci alias aspernatur assumenda consectetur cum debitis deleniti deserunt dicta dignissimos distinctio dolor doloribus eaque, eius esse exercitationem fugiat harum hic inventore ipsam libero magnam maiores minus natus neque ')
        +tabs__list('tab-3','Some title 3', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad adipisci alias aspernatur assumenda consectetur cum debitis deleniti deserunt dicta dignissimos distinctio dolor doloribus eaque, eius esse exercitationem fugiat harum hic inventore ipsam libero magnam maiores minus natus neque nesciunt odio omnis quisquam quod quos saepe sequi tempore temporibus vel veniam voluptatem. Ducimus fuga iure numquam odit quidem saepe tempore.Ducimus fuga iure numquam odit quidem saepe tempore.Ducimus fuga iure numquam odit quidem saepe tempore.')