include ../helpers/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/main.css")
        block title
        title #{pageTitle}



    body
        block header

        block main

        block footer


    //vendor-js
    script(src="js/libs.min.js")
    //main-js
    script(src="js/main.min.js")